/*
body {
  color: red;
}

.navbar {
  padding: 1rem;
}

.btn-primary:hover {
  color: blue;
  background-color: white;
}
*/

.hero-bg-img {
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-bg-img:after {
  content: "";
  position: absolute;
  background-image: url("img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.7;
}